{% extends 'base.html.twig' %}

{% block content %}
    <table>
        <thead>
            <tr><th>Word</th><th></th><th></th></tr>
        </thead>
        <tbody>
            {% for word in wordlist %}
            <tr>
                <td>{{ word }}</td>
                <td><a href="#">Modifier</a></td>
                <td><a href="#">Supprimer</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}