<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
        <title>{% block title %}Sign-in{% endblock %}</title>
        {% block stylesheets %}<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />{% endblock %}
        <link rel="shortcut icon" href="/favicon.ico" />
    </head>
    <body>
        {% block body %}
        <div id="wrapper">
            <div id="header">
                <div id="logo">
                    <h1>
                        <a href="/">Hangman</a>
                    </h1>
                </div>
                <div id="menu">
                    <ul>
                        <li class="first current_page_item">
                            <a href="/game/">Game</a>
                        </li>
                        <li>
                            <a href="/signup">Register</a>
                        </li>
                        <li>
                            <a href="/signin">Login</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                        {% if app.user and is_granted("ROLE_ADMIN") %}
                        <li>
                            <a href="{{ path('manageWordList') }}">Manage wordlist</a>
                        </li>
                        {% endif %}
                    </ul>
                    <br class="clearfix" />
                </div>
            </div>

            <div id="page">
                {% block page %}

                <div id="content">
                    {% block content %}
                    {% endblock %}
                </div>
                <div id="sidebar">
                    <h3>Last Games</h3>
                    <div class="date-list">
                        <ul class="list date-list">

                            <li class="first"><span class="date">Jan 13</span> <a href="#">Ultrices quisque molestie</a></li>
                            <li><span class="date">Jan 7</span> <a href="#">Neque dolor eget</a></li>
                            <li><span class="date">Jan 1</span> <a href="#">Sollicitudin interdum</a></li>
                            <li class="last"><span class="date">Dec 26</span> <a href="#">Varius dignissim</a></li>

                        </ul>
                    </div>
                    <h3>Last players</h3>
                    <ul>
                        <li>user 1</li>
                        <li>user 2</li>
                        <li>user 3</li>
                        <li>user 4</li>
                        <li>user 5</li>
                    </ul>
                </div>
                <br class="clearfix" />
            </div>
            {% endblock %}
        </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
